.hamburger {
    display: none;
}

@media screen and (max-width:768px) {
    .hamburger {
        display: initial;
        position: fixed;

        top: 05px;
        left: 5px;
        z-index: 1000;
        background: var(--main-color);

    }


}