@import "tailwindcss";


:root {
    --bg-color-main: rgb(247, 245, 241);
    --main-color: rgb(157, 82, 72);
    --text-color: #2c2c2c;
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: "Playfair Display", serif;
}